<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <header>
            <h1><a href="/">SO-NUTS</a></h1>
        </header>
        <main id="dashboard">
            <section class="one">
                <h1 class="welcome">Hallo Aron</h1>
                    <section class="tamagotchi">
                        <img src="../images/vrolijk - 1.png">
                    </section>
                    <section class="progress">
                        level 1
                    </section>
            </section>
            <section class="two">
                <h1>Statistieken</h1>
                    <ul>
                        <li>Week 46</li>
                        <li>Week 47</li>
                        <li>Deze week</li>
                        <li>Week 49</li>
                        <li>Week 50</li>
                    </ul>
                    <h2>Voltooide doelen</h2>
                    <ul class="goals">
                        <li>
                            <p>Doe een uur krachttraining</p>
                            <p>Bewegen</p>
                            <p>✓</p>
                        </li>
                        <li>
                            <p>Loop 5 km hard</p>
                            <p>Bewegen</p>
                            <p>✓</p>
                        </li>
                        <li>
                            <p>Eet 5 bananen</p>
                            <p>Voeding</p>
                            <p>✓</p>
                        </li>
                    </ul>
                    <h2>Te behalen doelen</h2>
                    <ul class="goals">
                        <li>
                            <p>Doe een uur krachttraining</p>
                            <p>Bewegen</p>
                            <p></p>
                        </li>
                        <li>
                            <p>Loop 5 km hard</p>
                            <p>Bewegen</p>
                            <p></p>
                        </li>
                        <li>
                            <p>Eet 5 bananen</p>
                            <p>Voeding</p>
                            <p></p>
                        </li>
                        <li>
                            <p>Eet 5 bananen</p>
                            <p>Voeding</p>
                            <p></p>
                        </li>
                    </ul>
            </section>
        </main>
    </body>
</html>