<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <header>
            <h1><a href="/day-goals">SO-NUTS</a></h1>
        </header>
        <main id="dashboard">
            <section class="one">
                <h1 class="welcome">Hallo Aron</h1>
                    <section class="tamagotchi">
                        <img src="">
                    </section>
                    <section class="progress">
                        <p id="stand"></p>
                    </section>
            </section>
            <section class="two">
                <h1>Statistieken</h1>
                    <ul>
                        <li>Maandag</li>
                        <li>Dinsdag</li>
                        <li>Vandaag</li>
                        <li>Donderdag</li>
                        <li>vrijdag</li>
                    </ul>
                    <h2>Voltooide doelen</h2>
                    <ul class="goals">
                        <li>
                            <p>Loop 5km hard</p>
                            <p>Bewegen</p>
                            <p>✓</p>
                        </li>
                    </ul>
                    <h2>Te behalen doelen</h2>
                    <ul class="goals">
                        <li>
                            <p>Doe een uur krachttraining</p>
                            <p>Bewegen</p>
                            <button type="button" class="voltooi">Voltooi</button>
                            <button type="button" class="">Delete</button>
                        </li>
                        <li>
                            <p>Eet 2 bananen</p>
                            <p>Voeding</p>
                            <button type="button" class="voltooi">Voltooi</button>
                            <button type="button" class="">Delete</button>
                        </li>
                    </ul>
            <section class="three">
                <h2>Tip van de dag</h2>
                <p>"Eet meer groenten en fruit. Ga voor kleur en variatie: donkergroen, geel, oranje en rood."</p>
                <img src="../images/sonja.jpg">
                <p>Sonja bakker</p>
            </section>
            <section class="four">
                <h2>Notities</h2>
                <textarea id="notities">Ik heb vandaag al 2 uur hardgelopen dus dat gaat fantastisch.</textarea>
                <button type="button" class="animeren">Opslaan</button>
            </section>
        </section>
            <div class="animation">✓</div>
        </main>
    </body>
</html>