<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <header>
            <h1><a href="/">SO-NUTS</a></h1>
        </header>
        <main id="dashboard">
            <section>
                <h1 class="welcome">Hallo Aron</h1>
                    <section class="tamagotchi"></section>
                    <section class="progress">
                        level 1
                    </section>
            </section>
            <section>
                <h1>Doelen</h1>
                    <ul>
                        <li>Week 46</li>
                        <li>Week 47</li>
                        <li>Deze week</li>
                        <li>Week 49</li>
                        <li>Week 50</li>
                    </ul>
                    <ul>
                        <li>Week 46</li>
                        <li>Week 47</li>
                        <li>Deze week</li>
                        <li>Week 49</li>
                        <li>Week 50</li>
                    </ul>
            </section>
        </main>
    </body>
</html>