<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <header>
            <h1><a href="/">SO-NUTS</a></h1>
        </header>
        <main id="goals">
            <section class="one">
                <h1 class="welcome">Welke doelen wil je vandaag uitvoeren?</h1>
                <ul class="goals">
                    <li>
                        <p>Doe een uur krachttraining</p>
                        <p>Bewegen</p>
                        <button type="button" class="voltooi">Selecteer</button>
                    </li>
                    <li>
                        <p>Loop 5 km hard</p>
                        <p>Bewegen</p>
                        <button type="button" class="voltooi">Selecteer</button>
                    </li>
                    <li>
                        <p>Eet 5 bananen</p>
                        <p>Voeding</p>
                        <button type="button" class="voltooi">Selecteer</button>
                    </li>
                    <li>
                        <p>Eet 5 bananen</p>
                        <p>Voeding</p>
                        <button type="button" class="voltooi">Selecteer</button>
                    </li>
                    <li>
                        <p>Doe een uur krachttraining</p>
                        <p>Bewegen</p>
                        <button type="button" class="voltooi">Selecteer</button>
                    </li>
                    <li>
                        <p>Loop 5 km hard</p>
                        <p>Bewegen</p>
                        <button type="button" class="voltooi">Selecteer</button>
                    </li>
                    <li>
                        <p>Eet 5 bananen</p>
                        <p>Voeding</p>
                        <button type="button" class="voltooi">Selecteer</button>
                    </li>
                    <li>
                        <p>Eet 5 bananen</p>
                        <p>Voeding</p>
                        <button type="button" class="voltooi">Selecteer</button>
                    </li>
                </ul>
            </section>
            <a href="dashboard">Afronden</a>
            <div class="animation">✓</div>
            <div class="animation">x</div>
        </main>
    </body>
</html>