<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <header>
            <h1><a href="/day-goals">SO-NUTS</a></h1>
        </header>
        <main id="goals">
            <section class="one">
                <h1 class="welcome">Welke doelen wil je vandaag uitvoeren?</h1>
                <ul class="goals">
                    <li>
                        <p>Doe een uur krachttraining</p>
                        <p>Bewegen</p>
                        <button type="button" class="animeren">Selecteer</button>
                    </li>
                    <li>
                        <p>Eet 2 bananen</p>
                        <p>Voeding</p>
                        <button type="button" class="animeren">Selecteer</button>
                    </li>
                    <li>
                        <input type="text" id="hans" name="inputvalue" required><br>
                        <select name="Soort" id="soort">
                            <option value="Voeding">Voeding</option>
                            <option value="Beweging">Beweging</option>
                          </select>
                        <button type="button" class="animeren">+</button>
                    </li>
                </ul>
            </section>
            <a href="dashboard">Afronden</a>
            <div class="animation">✓</div>
            <div class="animation">x</div>
        </main>
    </body>
</html>