<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <header>
            <h1><a href="/">SO-NUTS</a></h1>
        </header>
        <main id="goals">
            <section class="one">
                <h1 class="welcome">Kies drie hoofddoelen</h1>
                <form method="post" enctype="application/x-www-form-urlencoded" action="/result">
                    <fieldset id="vraag1">
                        <label for="leeftijd">Wat is uw Leeftijd?</label><br>
                        <input type="number" id="leeftijd" name="inputvalue" required><br>
                        <a href="#vraag2">Volgende</a>
                    </fieldset>
                </form>
            </section>
        </main>
    </body>
</html>