<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <header>
            <h1><a href="/">SO-NUTS</a></h1>
        </header>
        <main id="result">
            <section class="one">
                <h1 class="welcome">De resultaten, selecteer drie verbeterpunten!</h1>
                <ul class="results">
                    <li>
                        <p>BMI</p>
                        <p>Jij</p>
                        <p>4</p>
                        <button type="button" class="voltooi">Verbeter</button>
                        <p>Ideaal</p>
                        <p>10</p>
                    </li>
                    <li>
                        <p>BMI</p>
                        <p>Jij</p>
                        <p>4</p>
                        <button type="button" class="voltooi">Verbeter</button>
                        <p>Ideaal</p>
                        <p>10</p>
                    </li>
                    <li>
                        <p>BMI</p>
                        <p>Jij</p>
                        <p>4</p>
                        <button type="button" class="voltooi">Verbeter</button>
                        <p>Ideaal</p>
                        <p>10</p>
                    </li>
                    <li>
                        <p>BMI</p>
                        <p>Jij</p>
                        <p>4</p>
                        <button type="button" class="voltooi">Verbeter</button>
                        <p>Ideaal</p>
                        <p>10</p>
                    </li>
                    <li>
                        <p>BMI</p>
                        <p>Jij</p>
                        <p>4</p>
                        <button type="button" class="voltooi">Verbeter</button>
                        <p>Ideaal</p>
                        <p>10</p>
                    </li>
                    <li>
                        <p>BMI</p>
                        <p>Jij</p>
                        <p>4</p>
                        <button type="button" class="voltooi">Verbeter</button>
                        <p>Ideaal</p>
                        <p>10</p>
                    </li>
                </ul>
            </section>
            <a href="day-goals">Genereer doelen</a>
            <div class="animation">✓</div>
        </main>
    </body>
</html>