<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <header>
            <h1>SO-NUTS</h1>
        </header>
        <main id="result">
            <section class="one">
                <h1 class="welcome">De resultaten, selecteer drie verbeterpunten!</h1>
                <ul class="results">
                    <h2>Voeding</h2>
                    <li>
                        <p>Zuivel inname</p>
                        <p>Score</p>
                        <p>X</p>
                        <button type="button" class="animeren">Verbeter</button>
                    </li>
                    <li>
                        <p>Groente inname</p>
                        <p>Score</p>
                        <p>X</p>
                        <button type="button" class="animeren">Verbeter</button>
                    </li>
                    <li>
                        <p>Noten inname</p>
                        <p>Score</p>
                        <p>X</p>
                        <button type="button" class="animeren">Verbeter</button>
                    </li>
                    <li>
                        <p>Fruit inname</p>
                        <p>Score</p>
                        <p>✓</p>
                    </li>
                    <h2>Beweging</h2>
                    <li>
                        <p>Hardlopen</p>
                        <p>Score</p>
                        <p>X</p>
                        <button type="button" class="animeren">Verbeter</button>
                    </li>
                    <li>
                        <p>Kracht training</p>
                        <p>Score</p>
                        <p>X</p>
                        <button type="button" class="animeren">Verbeter</button>
                    </li>
                    <li>
                        <p>Stretching</p>
                        <p>Score</p>
                        <p>✓</p>
                    </li>
                </ul>
            </section>
            <a href="day-goals">Genereer doelen</a>
            <div class="animation">✓</div>
        </main>
    </body>
</html>